:root {
    --bg-color: #F8EDE3;
    --primary-color: #DFD3C3;
    --secondary-color: #D0B8A8;
    --font: "Roboto", sans-serif;
}

body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font);
}

.cabecalho{
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: var(--primary-color);
}